# NOTE: Please do not add random things here that should be globally ignored instead of in the project's .gitignore
# See: https://sebastiandedeyne.com/setting-up-a-global-gitignore-file

# project things
.venv
.ruff_cache

# frontend things
src/pybama_org/components/frontend/public
src/pybama_org/components/frontend/hot
src/pybama_org/components/frontend/static
.vite
public/
