# NOTE: Please do not add random things here that should be globally ignored instead of in the project's .gitignore
# See: https://sebastiandedeyne.com/setting-up-a-global-gitignore-file

# project things
.venv
.ruff_cache
